<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.afomic.spark">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Spark"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.good">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GypeeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ExcoViewerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.LecturerDetail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ConstitutionViewerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.CourseListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AddCourseActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".services.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.AlarmReceiver"
            android:enabled="true"/>

        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.Welcome"
            android:theme="@style/AppTheme.good"/>
        <activity android:name=".BlogDetailActivity">
        </activity>
    </application>

</manifest>